# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



 ../../../.CFUserTextEncoding
        ../../../.DS_Store
        ../../../.anaconda/
        ../../../.bash_profile
        ../../../.bito/
        ../../../.cache/
        ../../../.codeium/
        ../../../.conda/
        ../../../.condarc
        ../../../.config/
        ../../../.continuum/
        ../../../.docker/
        ../../../.gitconfig
        ../../../.gitignore_global.save
        ../../../.ipynb_checkpoints/
        ../../../.jenkins/
        ../../../.jupyter/
        ../../../.lc/
        ../../../.lesshst
        ../../../.mongodb/
        ../../../.npm/
        ../../../.nvm/
        ../../../.oracle_jre_usage/
        ../../../.redhat/
        ../../../.software/
        ../../../.ssh/
        ../../../.tcshrc
        ../../../.th-client/
        ../../../.tig_history
        ../../../.viminfo
        ../../../.vscode/
        ../../../.xonshrc
        ../../../.zprofile
        ../../../.zsh_history
        ../../../.zsh_sessions/
        ../../../.zshrc
        ../../../Algorithms-DataStructures/
        ../../../Applications/
        ../../../BDD-JS/
        ../../.$coffee.drawio.bkp
        ../../.DS_Store
        ../../.localized
        ../../ARNOLD-DESKTOP/
        ../../Automation_files/
        ../../BDD-python/
        ../../Bash-script/
        ../../Bootcamp/
        ../.gitignore
        ../../Js-data structures And Algorithms/
        ../../LEARN-TYPESCRIPT/
        ../../Portfolio Images/
        ../../Portfolio/
        ../../STUDENT/
        ../../Screenshot 2024-08-23 at 21.52.42.png
        ../../TypeScriptTest/
        ../../actions/
        ../../cse-refactory-grad/
        ../../facebook/
        ../../fb6_files/
        ../../food del assets (1)/
        ../../food del assets/
        ../../github-actions/
        ../../nasa/
        ../../reactjs-todo-list/
        ../../software-design/
        ../../tdd-eslint/
        ../../tdd-mocha/
        ../../virtualbox.pdf
        ../../work/
        ../../../Documents/
        ../../../Downloads/
        ../../../Git-WorkFloww/
        ../../../Library/
        ../../../Movies/
        ../../../Music/
        ../../../Pictures/
        ../../../Public/
        ../../../PycharmProjects/
        ../../../TODOLISTAPP/
        ../../../Untitled.ipynb
        ../../../daystar-daycare/
        ../../../test-driven-dev/
        ../../../test-driven-development/